{% extends 'attendance_app/base.html' %}

{% block title %}
{% if user.is_authenticated %}
<div class="h1">Admin Page</div>
{% else %}
<div class="h1">Main</div>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="h2">Welcome {{ user.username }}</div>
<div>
    <p>{{user.organization_name}}</p>
</div>

<p>You are an administrator.</p>



<a href="{% url 'attendance_app:create_user' %}" class="btn btn-primary">Create New User</a>

<p></p>

<form action="{% url 'attendance_app:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
{% else %}
<a href="{% url 'attendance_app:signup' %}" class="btn btn-primary">Signup</a>
<a href="{% url 'attendance_app:login' %}" class="btn btn-primary">Login</a>
{% endif %}
{% endblock %}
