{% extends 'attendance_app/base.html' %}

{% block title %}
{% if user.is_authenticated %}
<div class="h1">Admin Page</div>
{% else %}
<div class="h1">Main</div>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="h2">Welcome {{ user.username }}</div>
<div>
    <p>{{user.organization_name}}</p>
</div>

<p>You are an administrator.</p>



<a href="{% url 'attendance_app:create_user' %}" class="btn btn-primary">Create New User</a>

<p></p>

<!-- 同じ会社名のユーザー一覧 -->
<table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      {% for other_user in users %}
      <tr>
        <td>{{ other_user.username }}</td>
        <td>{{ other_user.email }}</td>
        <td>
          {% if other_user.is_admin %}
            Administrator
          {% else %}
            Regular User
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<form action="{% url 'attendance_app:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
{% else %}
<a href="{% url 'attendance_app:signup' %}" class="btn btn-primary">Signup</a>
<a href="{% url 'attendance_app:login' %}" class="btn btn-primary">Login</a>
{% endif %}
{% endblock %}
