{% extends 'attendance_app/base.html' %}

{% block title %}
{% if user.is_authenticated %}
<div class="h1">勤怠登録ページ</div>
{% else %}
<div class="h1">Main</div>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% if user.is_admin %}
<!-- 管理者の場合の表示 -->
<p>※管理アカウントでログインしています</p>
{% endif %}

<!-- 現在時刻を表示する要素 -->
<div class="date" id="current-date">{{ current_date }}</div>
<div class="time" id="current-time">{{ current_time }}</div>
<div class="status">現在のステータス: {{ attendance.status }}</div>

<!-- JavaScriptを挿入 -->
<script>
// 1秒ごとに現在の時間を更新する関数
function updateCurrentTime() {
    var currentTimeElement = document.getElementById('current-time');
    var currentDateElement = document.getElementById('current-date');
    var currentTime = new Date().toLocaleTimeString();
    var currentDate = new Date().toLocaleDateString();
    currentTimeElement.innerText = currentTime;
    currentDateElement.innerText = currentDate;
}

// 最初の1回呼び出し
updateCurrentTime();

// 1秒ごとにupdateCurrentTime関数を呼び出す
setInterval(updateCurrentTime, 1000);
</script>



<!-- ステータスに応じたボタン表示 -->
{% if attendance.status == '出勤前' %}
<form action="{% url 'attendance_app:user_dashboard' %}" method="post">
    {% csrf_token %}
    <button type="submit" name="action" value="start" class="btn btn-primary custom-button">出勤</button>
</form>
{% elif attendance.status == '出勤中' %}
<form action="{% url 'attendance_app:user_dashboard' %}" method="post">
    {% csrf_token %}
    <button type="submit" name="action" value="break_start" class="btn btn-primary custom-button">休憩開始</button>
</form>
{% elif attendance.status == '休憩中' %}
<form action="{% url 'attendance_app:user_dashboard' %}" method="post">
    {% csrf_token %}
    <button type="submit" name="action" value="break_end" class="btn btn-primary custom-button">休憩終了</button>
</form>
{% elif attendance.status == '退勤済み' %}
<div class="total_work">実働時間: {{ formatted_duration }}</div>
<!-- <div class="total_work">実働時間: {{ attendance.total_work_time }}</div> -->
{% endif %}

<!-- 日報フォームと退勤ボタンを同じフォームタグ内で管理 -->
{% if attendance.status != '退勤済み' %}
<form action="{% url 'attendance_app:user_dashboard' %}" method="post" id="workday-form">
    {% csrf_token %}
    <textarea name="report" id="report" rows="4" class="form-control custom-textarea" placeholder="日報を入力してください(500文字まで)" required></textarea>

    {% if attendance.status == '出勤中' %}
    <button type="submit" onclick="submitForm()" name="action" value="end" class="btn btn-primary custom-button">退勤</button>
    {% endif %}
</form>
{% endif %}

<script>
    function submitForm() {
        var report = document.getElementById('report').value;
        if (report.trim() === '') {
            alert('日報を書いてから退勤ボタンを押してください。');
            return false; 
        } else {
            document.getElementById('workday-form').submit();
        }
    }
</script>



{% else %}
<a href="{% url 'attendance_app:signup' %}" class="btn btn-primary">Signup</a>
<a href="{% url 'attendance_app:login' %}" class="btn btn-primary">Login</a>
{% endif %}
{% endblock %}